body {
    display: flex;
    align-items: center;
    background-color: #1f5b93;
    margin: 10px 0;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    color: whitesmoke;
}


input{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 20px;
}

button{
    cursor: pointer;    
}